<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<!-- Site title
   ================================================== -->
   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
   <title>PENCIL JAM</title>


	<!-- Bootstrap CSS
   ================================================== -->
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}">

	<!-- Animate CSS
   ================================================== -->
	<link rel="stylesheet" href="{{ url_for('static', filename='animate.min.css')}}">

	<!-- Font Icons CSS
   ================================================== -->
	<link rel="stylesheet" href="{{ url_for('static', filename='ionicons.min.css')}}">

	<!-- Main CSS
   ================================================== -->
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">

	<!-- Google web font 
   ================================================== -->	
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" type='text/css'>

</head>
<body>


<!-- Preloader section
================================================== -->
<div class="preloader">

	<div class="sk-spinner sk-spinner-pulse"></div>

</div>


<!-- Navigation section
================================================== -->
<div class="nav-container">
   <nav class="nav-inner transparent">

      <div class="navbar">
         <div class="container">
            <div class="row">
              <div class="brand">
                <a href="/index">PENCIL-JAM</a>
              </div>
                <div class="menu-container">
                    <div class="intro-inner">
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{url_for('register')}}"><h3>Sign Up</h3></a></li>
                        <li><a href="{{url_for('login')}}"><h3>Login</h3></a></li>
                      </ul>
                  </div>
               </div>
         </div>
      </div>
   </nav>
</div>


<!-- Header section
================================================== -->
<section id="header" class="header-one">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
          <div class="header-thumb">
              <h1 class="wow fadeIn" data-wow-delay="1.6s">PENCIL-JAM</h1>
              <h3 class="wow fadeInUp" data-wow-delay="1.9s">Your next Interactive Experience</h3>
          </div>
			</div>

		</div>
	</div>		
</section>
<br>
<br>

<!-- Footer section
================================================== -->
<footer>
	<div class="container">
		<div class="row">

			<div class="col-md-12 col-sm-12">
				<p class="wow fadeInUp"  data-wow-delay="0.3s">Copyright © 2020 - INKJECT</p>
			</div>
			
		</div>
	</div>
</footer>


<!-- Javascript 
================================================== -->
<script src="{{ url_for('static', filename='jquery.js')}}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='isotope.js')}}"></script>
<script src="{{ url_for('static', filename='imagesloaded.min.js')}}"></script>
<script src="{{ url_for('static', filename='wow.min.js')}}"></script>
<script src="{{ url_for('static', filename='custom.js')}}"></script>

</body>
</html>